.resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 850px;
    border-left: 3px solid black;
}

.personal.section {
    background-color: #702963;
    color: #ffffff;
}